.firstSectionShow {
   min-height: calc(100vh - (var(--height-standard)));
   width:100%;
   background: linear-gradient(#FFF, #6CC2DE);
}

/* PERCENTAGES */

.percentages-mobile {
    background-color: red;
}

.percentages-web {
    display: none;
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
  
@media screen and (min-width:768px) {

    .percentages-mobile {
        display: none;
    }
    
    .percentages-web {
        display: initial;
    }
  
} /* 768px end */