:root{

    --white: #FAFAFA;

    /* LAYOUTS - Header */
    --header-bg: #014397; /* header background */

    /* QUIZ */
    --blue-quiz-buttons: #2F8DD8; /* quiz buttons */
    --blue-quiz-box-shadow: #0083AC; /* quiz container shadow */
    --gray-quiz-description: #646464; /* quiz description */
    --gray-quiz-input: #D9D9D9; /* quiz input number border and placeholder color */
    --white-quiz-container-bg: #FAFAFAE6; /* quiz container background w/opacity */
    --white-quiz-placeholder-bg: #EDF6F8; /* quiz input number placeholder background */

    /** PENDIENTE CLASIFICAR **/

    --quiz-prev-page: #014397;
    --quiz-current-page: #028FDF;
    --quiz-next-page: #D9D9D9;

    --darkblue-bg-buttons: #2E89D1;

    --white-transparent: #FAFAFAE6; /* bg quiz-container */
    --blue-box-shadow: #0083AC; /* shadow quiz-container */

    --grey: #EDEBEB;

    --lightblue: #EDF6F8F2; /* options del select provincias */
    --blue: #2F8DD8; /* buttons */
    --darkblue: #014397; /* header-bg / buttons preguntas múltiples ya hechas */
    --darkestblue: #1C5680; /* letras de los números de los litros */

}