
.quizHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height-standard);
    background-color: var(--header-bg);

    .container {
        display: flex;
        width: 100%;

        & a {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 0 10px;
            color: var(--white);

            & div {
                display: flex;
                width: 50px;
                margin-right: 10px;
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 992px *************************/

@media screen and (min-width:992px) {

    .container a {
        font-size: 2.7rem;
        margin: 0 20px;

        & div {
            width: 55px;
            margin-right: 15px;    
        }
    }

} /* 992px end */